<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的简历 - 个人会员中心</title>

    <link href="/css/user_personal.css" rel="stylesheet" type="text/css">
    <link href="/css/user_common.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="/js/jquery.js" type="text/javascript"></script>
    <script language="javascript" src="/js/jquery.dialog.js" type="text/javascript"></script>
    <script src="/js/jquery.user.selectlayer.js" type="text/javascript" language="javascript"></script>
    <script src="/js/jquery.validate.min.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript">

        //验证
        $(document).ready(function() {
            $("#Form1").validate({
                //debug: true,
// onsubmit:false,
//onfocusout :true,
                rules:{
                    oldpassword:{
                        required: true,
                        minlength:6,
                        maxlength:18
                    },
                    password:{
                        required: true,
                        minlength:6,
                        maxlength:18,
                        NOequalTo:"#oldpassword"
                    },
                    password1:{
                        equalTo:"#password"
                    }
                },
                messages: {
                    oldpassword: {
                        required: "请输入旧密码",
                        minlength: jQuery.format("旧密码不能小于{0}个字符"),
                        maxlength: jQuery.format("旧密码不能大于{0}个字符")
                    },
                    password: {
                        required: "请输入新密码",
                        minlength: jQuery.format("新密码不能小于{0}个字符"),
                        maxlength: jQuery.format("新密码不能大于{0}个字符")
                    },
                    password1: {
                        equalTo: "两次输入的密码不同"
                    }
                },
                errorPlacement: function(error, element) {
                    if ( element.is(":radio") )
                        error.appendTo( element.parent().next().next() );
                    else if ( element.is(":checkbox") )
                        error.appendTo ( element.next());
                    else
                        error.appendTo(element.parent());
                }
            });
            jQuery.validator.addMethod("NOequalTo", function(value, element,param) {
                var toval=$(param).val();
                return this.optional(element) || (toval!=value);
            }, "新密码不可以和旧密码相同");
        });


    </script>


</head>

<body>
<div class="user_top_nav">
    <div class="main">
        <div class="ltit"><span id="top_loginform"></span></div>
        <div class="rlink link_lan">

            <a href="/index">网站首页</a>
            <a href="/suggest/">意见反馈</a>
            <script type="text/javascript">
                //顶部部登录
                $.get("/logininfo", {"act":"top_loginform"},
                    function (data,textStatus)
                    {
                        $("#top_loginform").html(data);
                    }
                );
                //
                var headHeight=$(".header").height()+10;
                var nav=$(".nav");
                $(window).scroll(function(){
                    if($(this).scrollTop()>headHeight){
                        nav.addClass("navFix");
                    }
                    else{
                        nav.removeClass("navFix");
                    }
                });
                //
                $("#t_so").hover(
                    function(){
                        $("#t_so").css("position","relative");
                        $("#op_search").show();
                    },
                    function(){
                        $("#op_search").hide();
                        $("#t_so").css("position","");
                    }
                );
                $(".top-search-button").click(function()
                {
                    $("body").append('<div id="pageloadingbox">页面加载中....</div><div id="pageloadingbg"></div>');
                    $("#pageloadingbg").css("opacity", 0.5);
                    $.get("http://51itjob.net/plus/ajax_search_location.php", {"act":$(this).attr('id'),"key":$("#top-search-key").val()},
                        function (data,textStatus)
                        {
                            window.location.href=data;
                        }
                    );
                });
            </script>	    </div>
        <div class="clear"></div>
    </div>
</div>
<div class="user_top_logo">
    <div class="logobox">
        <a href="/index"><img src="http://51itjob.net/data/images/logo.png" alt="" border="0" align="absmiddle"></a>
    </div>
    <div class="sobox">


    </div>

</div>
<div class="clear"></div>
</div>

<div class="page_location link_bk">当前位置：<a href="/index">首页</a> &gt; <a href="/userindex">会员中心</a></div>
<div class="usermain">
    <div class="leftmenu link_bk">
        <script type="text/javascript">
            $(document).ready(function()
            {
//会员中心顶部搜索职位简历切换
                $("#usertopselectbox").hover(
                    function () {
                        $(this).find("#selmenu").show();
                    },
                    function () {
                        $(this).find("#selmenu").hide();
                    }
                );
                $(".leftmenu .meunbox li[class!='h']").hover(
                    function () {
                        $(this).css("background-color","#F5F5F5");
                    },
                    function () {
                        $(this).css("background-color","#FFFFFF");
                    }
                );
//会员中心顶部搜索职位简历切换 点击选择触发事件
                $("#usertopselectbox .selmenu").click(function(){

                    var txt=$(this).text();

                    if (txt=="简历")
                    {
                        $("#topsotype").val('2');
                        $("#seltxt").text('简历');
                        $("#selmenu").text('职位');
                        $("#selmenu").hide();
                    }
                    else
                    {
                        $("#topsotype").val('1');
                        $("#seltxt").text('职位');
                        $("#selmenu").text('简历');
                        $("#selmenu").hide();
                    }
                });
//所有提交按钮效果
                $("input[type='submit'],input[type='button']").hover(
                    function () {
                        $(this).addClass("hover");
                    },
                    function () {
                        $(this).removeClass("hover");
                    }
                );
//所有多选按钮效果
                $(".input_checkbox,.input_checkbox_add").hover(
                    function () {
                        $(this).addClass("h");
                    },
                    function () {
                        $(this).removeClass("h");
                    }
                );
//多选
                $('#chk').click(function(){
                    $(this).parents("form").find("input[type=checkbox]").attr('checked',$("#chk").attr('checked'))
                });
//信息列表背景变色
                $(".userliststyle").hover(
                    function () {
                        $(this).css('background-color','#FCFCFC');
                    },
                    function () {
                        $(this).css('background-color','#FFFFFF');
                    }
                );
            });
        </script>

        <div class="meun1">
            <div class="meun2">

                <div class="meunbox">
                    <div class="tit"><div class="t i2">求职管理</div></div>
                    <div class="linktxt">
                        <ul>
                            <li style="background-color: rgb(255, 255, 255);"><a href="personal_apply.php?act=interview">面试邀请</a></li>
                            <li><a href="/userfavourite">收藏夹</a></li>
                            <li style="background-color: rgb(255, 255, 255);"><a href="personal_apply.php?act=apply_jobs">已申请的职位</a></li>
                        </ul>
                    </div>
                </div>
                <div class="meunbox last">
                    <div class="tit"><div class="t i3">账号管理</div></div>
                    <div class="linktxt">
                        <ul>
                            <li style="background-color: rgb(255, 255, 255);"><a href="/userprofile">基本资料</a></li>
                            <li style="background-color: rgb(255, 255, 255);"><a href="/userpassword">密码修改</a></li>
                            <li style="background-color: rgb(255, 255, 255);"><a href="/logout">安全退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  </div>
    <div class="rightmain">

        <div class="bbox1">

            <div class="pwd link_bk">

                <div class="topnav">

                    <div class="titleH1">
                        <div class="h1-title">账户管理</div>
                    </div>

                    <div class="navs link_bk">
                        <a href="/userprofile">基本资料</a>
                        <a href="/userpassword" class="se">密码修改</a>

                        <div class="clear"></div>
                    </div>

                </div>


                <form id="Form1" name="Form1" method="post" action="/save_password">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall" style="margin-top:15px;">
                        <tbody><tr>
                            <td width="165" align="right"><span class="nec">旧密码</span>：</td>
                            <td width="264"><input name="oldpassword" type="password" class="input_text_200 valid" id="oldpassword"> </td>
                            <td width="389">			</td>
                        </tr>
                        <tr>
                            <td width="165" align="right"><span class="nec">新密码</span>：</td>
                            <td width="264"><input name="password" type="password" class="input_text_200 valid" id="password"> </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td width="165" align="right"><span class="nec">确认新密码</span>：</td>
                            <td width="264"><input name="password1" type="password" class="input_text_200 valid" id="password1"> <label for="password1" generated="true" class="error" style="display: none">两次输入的密码不同</label></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td align="right"> </td>
                            <td colspan="2"><input type="submit" name="submitsave" id="submitsave" value="保存" class="but220lan">
                            </td>
                        </tr>
                        </tbody></table>
                </form>


            </div>
        </div>
    </div>
</div>
</body></html>